name: MT5 Demo Runner

on:
  workflow_dispatch:

jobs:
  mt5:
    runs-on: ubuntu-22.04
    timeout-minutes: 360

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install -y wine64 wine32 wget unzip xvfb

    - name: Install MT5
      run: |
        chmod +x install_mt5.sh
        ./install_mt5.sh

    - name: Start MT5
      run: |
        chmod +x start_mt5.sh
        xvfb-run --auto-servernum ./start_mt5.sh
