name: RDP_CRD_MT5_DEMO_2H

on:
  workflow_dispatch:

jobs:
  crd-mt5-demo:
    runs-on: windows-latest
    timeout-minutes: 120

    steps:
      - name: Create Admin User
        run: |
          $password = -join ((33..126) | Get-Random -Count 20 | ForEach-Object {[char]$_})
          $secure = ConvertTo-SecureString $password -AsPlainText -Force

          New-LocalUser -Name "RDP" -Password $secure -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "RDP"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "RDP"

          echo "RDP_PASSWORD=$password" >> $env:GITHUB_ENV

      - name: Install Google Chrome
        run: |
          $url = "https://www.google.com/chrome/?platform=win64"
          $installer = "$env:TEMP\chrome.exe"
          Invoke-WebRequest $url -OutFile $installer
          Start-Process $installer -ArgumentList "/silent /install" -Wait

      - name: Install Chrome Remote Desktop
        run: |
          $url = "https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi"
          $msi = "$env:TEMP\crd.msi"
          Invoke-WebRequest $url -OutFile $msi
          Start-Process msiexec.exe -ArgumentList "/i "$msi" /quiet /norestart" -Wait

      - name: Install MetaTrader 5
        run: |
          $url = "https://download.mql5.com/cdn/web/metaquotes.software.corp/mt5/mt5setup.exe"
          $installer = "$env:TEMP\mt5setup.exe"
          Invoke-WebRequest $url -OutFile $installer
          Start-Process $installer -ArgumentList "/quiet" -Wait

      - name: Info
        run: |
          Write-Host "Buka https://remotedesktop.google.com"
          Write-Host "Login Google account kamu"

      - name: Keep Session Alive (2 Hours)
        run: |
          $end = (Get-Date).AddHours(2)
          while (Get-Date -lt $end) {
            Start-Sleep -Seconds 300
          }
